# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Base de datos local
*.db
*.sqlite3
/data/

# Variables de entorno
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.py
